<h1>My tasks</h1>

<ul class="list-group">
  <%@tasks.each do |task| %>
  <li class="list-group-item">
    <%if task.completed %>
        ☑︎ <%=link_to task.title, task_path(task) %>
    <%else %>
        □ <%=link_to task.title, task_path(task) %>
    <%end %>
  </li>
  <%end %>
</ul>

<%= link_to 'Add a new task', new_task_path%>
